{% extends "base.html" %}
{% load staticfiles%}

{% block title %}Survey{% endblock %}


{% block content %}
<section class="success" id="survey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ survey.name }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row white-box">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="panel space-4">
                    <div class="panel-header">
                      {{ survey.name }}
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            {% for question in questions %}
                                {% if question.question_type == 'text' %}
                                    {% include "widgets/text_widget.html" %}
                                {% elif question.question_type == 'integer'%}
                                    {% include "widgets/integer_widget.html" %}
                                {% elif question.question_type == 'checkbox'%}
                                    {% include "widgets/checkbox_widget.html" %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-lg-offset-10">
                            <button type="submit" class="btn btn-success btn-lg">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block scripts %}


{% endblock %}