<div class="question">
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls text_question">
            <label>Question</label>
            <strong class="survey-question-description">{{ question.question_description }}</strong>
            <p class="help-block text-danger"></p>
        </div>
        <div class="form-group col-xs-12 answer_question">

            {% for option in question.options %}
{# Another Checkbox style - Just uncomment and comment the other one #}

{#            <div class="checkbox checkbox-info checkbox-inline">#}
{#                <input type="checkbox" id="question_{{ question.id }}_option_{{ forloop.counter }}" value="{{ option }}">#}
{#                <label for="question_{{ question.id }}_option_{{ forloop.counter }}"> {{ option }} </label>#}
{#            </div>#}

            <span class="button-checkbox">
                <button type="button" class="btn" data-color="info">{{ option }}</button>
                <input type="checkbox" class="hidden" name="question_{{ question.id }}_option_{{ forloop.counter }}" value="{{ option }}" />
            </span>
            {% endfor %}
        </div>
    </div>
</div>
