<div class="question">
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls text_question">
            <label>Question</label>
            <strong class="survey-question-description">{{ question.question_description }}</strong>
            <p class="help-block text-danger"></p>
        </div>
        <div class="form-group col-xs-12 answer_question">

            <table class="table table-condensed table-matrix">
                <tr>
                    <td></td>
                    {% for col in question.columns %}
                    <td class="td-hover">{{ col }}</td>
                    {% endfor %}
                </tr>
                {% for row in question.rows %}
                <tr>
                    <td class="tr-hover">{{ row }}</td>
                    {% for col in question.columns %}
                    <td class="td-radio">
                        <div class="radio radio-info radio-inline">
                            <input id="question_{{ question.id }}_row_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" name="question_{{ question.id }}_row_{{ forloop.parentloop.counter }}" type="radio" value="{{ col }}">
                            <label for="question_{{ question.id }}_row_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"></label>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>