<div class="question">
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls text_question">
            <label>Question</label>
            {{ question.question_description }}
            <p class="help-block text-danger"></p>
        </div>
        <div class="form-group col-xs-12 answer_question">

            {% for option in question.options %}
            <label class="radio-inline">
              <input type="radio" name="question_{{ question.id }}" value="{{ option }}"> {{ option }}
            </label>
            {% endfor %}
        </div>
    </div>
</div>