<div class="question">
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls text_question">
            <label>Question</label>
            <strong class="survey-question-description">{{ question.question_description }}</strong>
            <p class="help-block text-danger"></p>
        </div>
        <div class="form-group col-xs-12 answer_question">

            <select name="question_{{ question.id }}" class="form-control">
                {% for option in question.options %}
                <option value="{{ option }}" >{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>